<%= form_with(model: [@task.project, @task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div><br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div><br>

  <div class="dropdown" style="margin-left: 120px">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Set users
      <span class="caret"></span></button>
    <ul class="dropdown-menu">      
      <%= form.collection_check_boxes( :user_ids, User.all, :id, :full_name) do |b|%>
        <li><%= b.label { b.check_box + b.text } %></li>
        <li class="divider"></li>      
      <% end %>  
    </ul>
  </div><br>

  <div class="actions btn" style="float:left">
    <%= form.submit %>
  </div>
<% end %>
