<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Progect</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @tasks.nil? %>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= task.progect %></td>
          <td><%= task.user_id %></td>
          <td><%= link_to 'Show', [task.project, task] %></td>
          <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
          <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>    
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_project_task_path %>
