<p id="notice"><%= notice %></p>

<h3>
  <strong>Project:</strong>
  <%= @task.project.name %>
</h3>

<h2>
	<strong>Task: </strong>
  <%= @task.title %>
</h2>
<strong>Description:</strong><br>
<p class="center jumbotron">  
  <%= @task.description %>
</p>

<div class="btn" style="float:left">
  <% if current_user.admin? %>    
	 <%= button_to 'Edit', edit_project_task_path(@task.project, @task), method: :get %>
  <% end %>
</div>
<div class="btn" style="float:left">
	<%= button_to 'Back', project_tasks_path(@task.project), method: :get %>
</div>
<div class="btn" style="float:left">
	<%= form_tag controller: 'tasks', action: 'change_status', id: @task, method: :get do %>
		<%= submit_tag "Change status" %>
	<% end %> 
</div>
