<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<h2>
  <%= @task.title %>
</h2>

<p>
  <strong>Description:</strong><br>
  <%= @task.description %>
</p>

<div class="btn" style="float:left">
  <% if current_user.admin? %>    
	 <%= button_to 'Edit', edit_project_task_path(@task.project, @task), method: :get %>
  <% end %>
</div>
<div class="btn" style="float:left">
	<%= button_to 'Back', project_tasks_path(@task.project), method: :get %>
</div>
