<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>    
    <% if current_user.admin? %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.summary %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
        <% current_user.task.each do |task| %>
          <tr>
            <td><%= task.project.name %></td>
            <td><%= task.project.summary %></td>
            <td><%= task.project.start_date %></td>
            <td><%= task.project.end_date %></td>
            <td><%= link_to 'Show', task.project %></td>
          </tr>          
        <% end %>          
      <% end %> 
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Project', new_project_path %><br>
<% end %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
