<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<div>
	<div class="btn" style="float:left">
		<%= button_to 'Edit', edit_project_path(@project), method: :get %>
	</div>
	<div class="btn" style="float:left">
		<%= button_to 'Back', projects_path, method: :get %>
	</div>
</div>